html,body{
	margin: 0px;
	padding: 0px;
	background: #dedede;
}
header{
	float: left;
	width: 100%;
	height: 100px;
	background: black;
}
#main{
	float: left;
	width: 100%;
	margin-top: 20px;
}
#page{
	width: 56%;
	float: left;
	margin-left: 4%;
}
#form{
	width: 30%;
	float: left;
	margin-left: 5%;
	margin-top: 30px;
	background: white;
	border: 1px solid black;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 30px;
	padding: 20px;
	text-align: right;
	box-shadow: 2px 2px 20px black;
}
.page{
	float: left;
	border: 1px solid black;
	background: white;
	box-shadow: 2px 2px 20px black;
	margin-top: 30px;
}
footer{
	margin-top: 30px;
	float: left;
	width: 100%;
	height: 80px;
	background: black;
	color: white;
}
p{
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 30px;
	padding: 15px;
}
.title{
	text-align: center;
}
.righttd{
	text-align: left;
}
.tip{
	font-color:gray; 
}
table{
	margin: 0px auto;
}

button{
	width: 100%;
	height: 50px;
	margin: 0px auto;
	background: blue;
	font-size: 20px;
	font-family: "微软雅黑";
	border-radius: 30px;
	box-shadow: inset 0 0 15px black;
}
#last{
	width: 160px;
	position: absolute;
	left: 50%;
	margin-top: 30px;
	margin-left: -80px;
	
}
.blink{
	float: right;
	list-style: none;
	margin-top: 10px;
	margin-right: 20px;
	list-style-type: square;
}
.alink{
	color: white;
	font-size: 20px;
	font-family: "微软雅黑";
}
#logo{
	float: left;
	margin:10px 10px 10px 10px;
	width: 80px;
	height: 80px;
}
#loading{
	width: 100%;
	height: 850px;
	background-color: black;
}
#loading img{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
}